# Konfigurasi VPS
VPS_HOST=144.202.18.239
VPS_USER=root
VPS_PASS=YOUR_PASSWORD_HERE
VPS_DIR=morph_build

# Konfigurasi Compiler
MORPH_COMPILER=./bootstrap/morph.sh
SOURCE=examples/hello.fox
OUTPUT_NAME=hello
